body {
  background-image: url(http://i.imgur.com/TpvU9Gw.jpg);
  background-size: cover; }

  .container {
    overflow-x: hidden; }

    .code-icon {
      position: absolute;
      top: 12px;
      right: 18px; }

      footer {
        margin-top: 30px;
        text-align: left; }

        form {
          text-align: center; }

          .btn {
            margin-top: 10px;
            margin-bottom: 10px; }

            .centered {
              margin-left: auto;
              margin-right: auto; }

              .bottom {
                display: flex;
                justify-content: center; }

                .jumbotron {
                  position: relative;
                  text-align: center;
                  background-color: rgba(238, 238, 238, 0.99);
                  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.35);
                  padding-top: 18px;
                  padding-bottom: 18px;
                  margin-top: 30%; }

                  .jumbotron h1 {
                    font-size: 2em;
                    margin-bottom: 30px; }

                    @media (max-width: 768px) {
                      .jumbotron {
                        margin-left: -20px;
                        margin-right: -20px;   }
}

.avatar {
  border-radius: 50%; }

  .close {
    opacity: 0.8; }

    .close:hover {
      color: #699; }

      .login {
        display: inline-block; }

        .fa-close {
          color: #B0171F;
          height: 48px;
          width: 48px;
          font-size: 48px; }
