<nav class='post'>
	<a href="{{ url_for('index') }}"><div id="name"><h1>Lynn Cyrin</h1></div></a><br>
	<div id="me"><img src="{{ config.AVATAR }}" title="my gravatar picture"></div>
	<a href="{{ url_for('index') }}"><button class="nav">Home</button></a>
	<a href="{{ url_for('about') }}"><button class="nav">About Me</button></a>
	<a href="{{ url_for('contact') }}"><button class="nav">Contact</button></a>
	<a href="{{ url_for('tagged_page', tag='life') }}"><button class="nav">"Life"</button></a>
	<a href="{{ url_for('tagged_page', tag='advocacy') }}"><button class="nav">"Advocacy"</button></a>
	<a href="{{ url_for('tagged_page', tag='tech') }}"><button class="nav">"Tech"</button></a>
</nav>
